@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

$color1: #D81A1A;
$color2: #313AE9;

$font-weights: 400, 500, 700;

$font-weights2: (
  regular: 400,
  medium: 500,
  bold: 700
);

h1 {
  font-weight: list.nth($font-weights, 3);
}

h2 {
  font-weight: map.get($font-weights2, medium);
}

div {
  width: math.div(200px, 2);
}

.box {
  display: inline-block;
  width: 120px;
  margin: 5px 3px;
  border: 2px solid black;
  aspect-ratio: 1/1;
}

.box-1 { background-color: $color1;}
.box-2 { background-color: $color2;}

.box.darken {
  background-color: darken($color1, 20%);
}

.box.lighten {
  background-color: lighten($color1, 10%);
}

.box.mixed {
  background-color: mix($color1, $color2, 50%);
}

@function generateBoxShadow($x, $y, $blur, $color) {
  $box-shadow: #{$x}px #{$y}px #{$blur}px #{$color};

  @return $box-shadow;
}

div {
  box-shadow: generateBoxShadow(2, 2, 4, rgba(0, 0, 0, 0.5));
}