@use '../abstracts/mixins';

footer {
  margin-bottom: 5rem;

  p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
  }
}

// Responsividade
@include mixins.media-break-min(medium){
  footer {
    margin: 0;
  }
}