@use '../abstracts/mixins';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');

a {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    color: var(--primary-color);
  }
}

i {
  color: var(--icon-color);
}

b {
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 200;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.4rem;
}

h3 {
  font-size: 1.55rem;
  text-align: left;
}

h4 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.15rem;
  text-align: left;
}

p, span, li {
  font-size: 1rem;
}

p {
  text-align: justify;
}

// Responsividade
@include mixins.media-break-min(medium){
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }
}

@include mixins.media-break-min(xlarge){
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p, span, li {
    font-size: 1.15rem;
  }
}

@include mixins.media-break-min(xxlarge){
  h1 {
    font-size: 6.25rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.25rem;
  }
}