@use '../abstracts/mixins';

.btn {
  @include mixins.flexbox($justify: center, $align: center, $gap: 0.625rem);
  width: 100%;
  background: transparent;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out .3s;
  cursor: pointer;
  color: var(--primary-color);

  &:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
  }
  
  span, i {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  
  &--primary span {
    color: var(--primary-color);
  }
  
  &--primary {
    border: 1px solid var(--primary-color);
  }
}
